<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="style.css">

<title>Acceuil</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

	<div th:fragment="footer">
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-12">
						<h6 class="text-uppercase font-weight-bold">Information
							additionelles</h6>
						<p>Fun escalade ne peux en aucun cas être tenu responsable
							suite à un accident ou une chute, pensez a bien vous équipez et
							prenez toutes les précaution nécaissaire lors de vos sorties.</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12">
						<h6 class="text-uppercase font-weight-bold">Contact</h6>
						<p>1 Rond point Georges Pompidou Sophia-Antipolis</p>
						<p>info@FunEscalade.com</p>
						<p>06 12 94 23 27</p>
					</div>
				</div>
			</div>
			<div class="footer-copyright text-center">© 2020
				Copyright:FunEscalade.com</div>
		</footer>

	</div>
</body>
</html>