<!DOCTYPE html>
<html>
<head>
<title>Sites</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" type="text/css" href="style.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">FUN ESCALADE</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/index">Acceuil</a></li>
					<li><a href="/myaccount">Mon Compte</a></li>
					<li><a href="/topo">Topo</a></li>
					<li><a href="/sites">Sites</a></li>
					<li><a href="/connexion">Connexion</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<h1 class="col-lg-12">Fun Escalade: Partagez votre Passion</h1>
			</div>
		</div>


	</header>
	<form class="form-horizontal" th:object="${findform}" action="#" th:action= "@{/find_site}" method = "post">
		<fieldset>

			<!-- Form Name -->
			<legend>Quel type de site souhaitez vous</legend>

			<!-- Text input-->
			<div class="form-group" >
				<label class="col-md-4 control-label" for="lieux">lieux</label>
				<div class="col-md-4">
					<input id="lieux" name="lieux" type="text"
						placeholder="nice cannes etc" class="form-control input-md" th:field="*{location}">

				</div>
			</div>

			<!-- Text input-->
			<div class="form-group" >
				<label class="col-md-4 control-label" for="secteurnb">Nombre
					de secteur minimum</label>
				<div class="col-md-4">
					<input id="secteurnb" name="secteurnb" type="text"
						placeholder="1,2,3" class="form-control input-md" th:field="*{nbSecteur}">

				</div>
			</div>

			<!-- Select Basic -->
			<div class="form-group" th:field="*{cotation}">
				<label class="col-md-4 control-label" for="cotation">contient
					des voies de cotations:</label>
				<div class="col-md-4">
					<select id="cotation" name="cotation" class="form-control">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6a">6a</option>
						<option value="6b">6b</option>
						<option value="6c">6c</option>
						<option value="7a">7a</option>
						<option value="7b">7b</option>
						<option value="7c">7c</option>
						<option value="8a">8a</option>
						<option value="8b">8b</option>
						<option value="8c">8c</option>
						<option value="9">9</option>
					</select>
				</div>
			</div>
			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="Validez">Validez</label>
				<div class="col-md-4">
					<button id="Validez" name="Validez" class="btn btn-default">Validez</button>
				</div>
		</fieldset>
	</form>
</body>
</html>