<!DOCTYPE html>
<html>
<head>
<title>Sites</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" type="text/css" href="style.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">FUN ESCALADE</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/index">Acceuil</a></li>
					<li><a href="/myaccount">Mon Compte</a></li>
					<li><a href="/topo">Topo</a></li>
					<li><a href="/sites">Sites</a></li>
					<li><a href="/connexion">Connexion</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<h1 class="col-lg-12">Fun Escalade: Partagez votre Passion</h1>
			</div>
		</div>


	</header>

	<form class="form-horizontal" action="#" th:action=@{/topo_creation} th:object="${topo}" method = "post">
<fieldset>

<!-- Form Name -->
<legend>Je crée mon topo</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Localisation">Localisation</label>  
  <div class="col-md-4">
  <input id="Localisation" name="Localisation" type="text" placeholder="ex : cannes nices, " class="form-control input-md" required="" th:field="*{lieux}">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Nom">Nom</label>  
  <div class="col-md-4">
  <input id="Nom" name="Nom" type="text" placeholder="nom du topo" class="form-control input-md" required="" th:field="*{name}">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Description" th:field="*{description}">Description</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="Description" name="Description">Description rapide  du Topo</textarea>
  </div>
</div>

<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="validez">validez</label>
				<div class="col-md-4">
					<button id="validez" name="validez" class="btn btn-default">Je
						valide</button>
				</div>
			</div>

</fieldset>
</form>

</body>
</html>